@layer components {
  .noSpinner {
    appearance: textfield;
  }

  .noSpinner::-webkit-outer-spin-button,
  .noSpinner::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  .blink {
    animation: blink-animation 1s steps(2, start) infinite;
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
}
