@layer components {
  .noSpinner {
    appearance: textfield;
  }

  .noSpinner::-webkit-outer-spin-button,
  .noSpinner::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  .blink {
    animation: blink-animation 1s steps(2, start) infinite;
  }

  .displayRoot {
    @media (max-width: 1100px) {
      font-size: clamp(4rem, 7.5vw, 6.5rem) !important;
    }

    @media (max-height: 820px) {
      font-size: clamp(4rem, 12vh, 6.5rem) !important;
    }

    @media (max-width: 820px) {
      font-size: clamp(3rem, 12vw, 4.75rem) !important;
    }

    @media (max-height: 640px) {
      font-size: clamp(3rem, 10.2vh, 4.75rem) !important;
    }
  }

  .separator {
    @media (max-width: 820px) {
      padding-inline: 0.02em;
    }

    @media (max-height: 640px) {
      padding-inline: 0.02em;
    }
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
}
