@import "tailwindcss";

:root {
  --background: 0 0 0;
  --foreground: 221 221 221;
  --primary: 109 113 86;
}

@theme inline {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --color-primary: rgb(var(--primary));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: Geist, Arial, Helvetica, sans-serif;
}
