@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #D61F69;
  --secondary: #3F83F8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Geist, Arial, Helvetica, sans-serif;
}
